
<%= link_to "Add a restaurant", new_restaurant_path %>

<div class="container-fluid">
  <div class="row">
    <% @restaurants.each do |restaurant| %>
      <div class="col-xs-3">
        <div class="resto">
          <h3><%= link_to restaurant.name, restaurant_path(restaurant) %></h3>
          <p><%= restaurant.category.capitalize %> - <%= restaurant.address %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
</div>


